{% extends 'theme/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load custom_tags %}
{% load i18n %}

{% block content %}
<!-- **************** MAIN CONTENT START **************** -->
<main>
	
	<!-- Container START -->
	<div class="container">
		<div class="row g-4">
			{% include 'theme/sidenav.html' %}
			<!-- Main content START -->
			<div class="col-md-8 col-lg-6 vstack gap-4">

				{% comment %} <!-- Story START -->
        <div class="d-flex gap-2 mb-n3">
					<div class="position-relative">
						<div class="card border border-2 border-dashed h-150px px-4 px-sm-5 shadow-none d-flex align-items-center justify-content-center text-center">
							<div>
								<a class="stretched-link btn btn-light rounded-circle icon-md" href="#!"><i class="fa-solid fa-plus"></i></a>
								<h6 class="mt-2 mb-0 small">Post a Story</h6>
							</div>
						</div>
					</div>

					<!-- Stories -->
					<div id="stories" class="storiesWrapper stories-square stories user-icon carousel scroll-enable"></div>
				</div>
        <!-- Story END --> {% endcomment %}

				{% comment %} {% for post in posts reversed%}
					{{post}}
					{{post.user.first_name}}
					{{post.user.last_name}}
					{{post.text}}

					{% for media in post.media_set.all %}
					{% if media.is_image %}
					  <img src="{{ media.file.url }}" alt="Image">
					{% elif media.is_video %}
					  <video controls>
						<source src="{{ media.file.url }}" type="video/mp4">
						Your browser does not support the video tag.
					  </video>
					{% endif %}
				  {% endfor %}

				{% endfor %} {% endcomment %}


				{% include 'theme/parts/share_post.html' %}



				{% for post, duration, comments in posts reversed%}
					  {% include 'theme/parts/post.html' %}
				{% endfor %}

				{% include 'theme/demo/posts.html' %}


					<!-- Load more button START -->
					<a href="#!" role="button" class="btn btn-loader btn-primary-soft" data-bs-toggle="button" aria-pressed="true">
						<span class="load-text"> Load more </span>
						<div class="load-icon">
							<div class="spinner-grow spinner-grow-sm" role="status">
								<span class="visually-hidden">Loading...</span>
							</div>
						</div>
					</a>
					<!-- Load more button END -->

			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-3">
				<div class="row g-4">
					<!-- Card follow START -->
					<div class="col-sm-6 col-lg-12">
						<div class="card">
							<!-- Card header START -->
							<div class="card-header pb-0 border-0">
								<h5 class="card-title mb-0">{% trans 'Who to follow' %}</h5>
							</div>
							<!-- Card header END -->
							<!-- Card body START -->
							<div class="card-body">
								{% for user in users %}
								<!-- Connection item START -->
								<div class="hstack gap-2 mb-3">
									<!-- Avatar -->
									<div class="avatar">
										<a href="{% url 'profile' username=user.username %}"><img class="avatar-img rounded-circle" src="{{ user.getProfileimageUrl }}" alt=""></a>
									</div>
									<!-- Title -->
									<div class="overflow-hidden">
										<a class="h6 mb-0" href="{% url 'profile' username=user.username %}">{{user.getFullName}} </a>
										<p class="mb-0 small text-truncate">{{user.player.position}} at {{user.player.club}}</p>
									</div>
									<!-- Button -->
									<a class="btn btn-primary-soft rounded-circle icon-md ms-auto" href="#"><i class="fa-solid fa-plus"> </i></a>
								</div>
								<!-- Connection item END -->
								{% endfor %}
								<!-- View more button -->
								<div class="d-grid mt-3">
									<a class="btn btn-sm btn-primary-soft" href="{% url 'discover' %}">{% trans 'View more' %}</a>
								</div>
							</div>
							<!-- Card body END -->
						</div>
					</div>
					<!-- Card follow START -->

					{% comment %} <!-- Card News START -->
					<div class="col-sm-6 col-lg-12">
						<div class="card">
							<!-- Card header START -->
							<div class="card-header pb-0 border-0">
								<h5 class="card-title mb-0">Today’s news</h5>
							</div>
							<!-- Card header END -->
							<!-- Card body START -->
							<div class="card-body">
								<!-- News item -->
								<div class="mb-3">
									<h6 class="mb-0"><a href="blog-details.html">Ten questions you should answer truthfully</a></h6>
									<small>2hr</small>
								</div>
								<!-- News item -->
								<div class="mb-3">
									<h6 class="mb-0"><a href="blog-details.html">Five unbelievable facts about money</a></h6>
									<small>3hr</small>
								</div>
								<!-- News item -->
								<div class="mb-3">
									<h6 class="mb-0"><a href="blog-details.html">Best Pinterest Boards for learning about business</a></h6>
									<small>4hr</small>
								</div>
								<!-- News item -->
								<div class="mb-3">
									<h6 class="mb-0"><a href="blog-details.html">Skills that you can learn from business</a></h6>
									<small>6hr</small>
								</div>
								<!-- Load more comments -->
								<a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center" data-bs-toggle="button" aria-pressed="true">
									<div class="spinner-dots me-2">
										<span class="spinner-dot"></span>
										<span class="spinner-dot"></span>
										<span class="spinner-dot"></span>
									</div>
									View all latest news
								</a>
							</div>
							<!-- Card body END -->
						</div>
					</div>
					<!-- Card News END --> {% endcomment %}
					
				</div>
			</div>
			<!-- Right sidebar END -->

		</div> <!-- Row END -->
	</div>
	<!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->
{% comment %} {% include 'theme/parts/chat.html' %} {% endcomment %}





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function () {
   var csrfToken = $('input[name=csrfmiddlewaretoken]').val(); // Get the CSRF token

   $('.like-button').click(function () {
	   var postId = $(this).data('post-id');
	   console.log(postId)

	   $.ajax({
		   type: 'POST',
		   url: '/like_post/' + postId + '/',
		   data: {},
		   headers: { "X-CSRFToken": csrfToken }, // Include the CSRF token in the headers
		   success: function (data) {

			   if(data.remove == true){
				$('#like-text-' + postId).text('Like');
				$('#like-button-' + postId).removeClass('active');
				$('#like-count-' + postId).text(data.likes_count);

			   }
			   else{
			   // Update the like count for the specific post
			   $('#like-count-' + postId).text(data.likes_count);
			   $('#like-text-' + postId).text('Liked');
			   $('#like-button-' + postId).addClass('active');
			   }
			   console.log(data)
		   }
	   });
   });





   $('.comment-button').click(function () {
	var postId = $(this).data('post-id');
	console.log(postId)
	var comment_value = $('#comment-text-'+postId).val()
	console.log('comment_value')
	console.log(comment_value)
	$.ajax({
		type: 'POST',
		url: '/comment_post/' + postId + '/' + comment_value + '/',
		data: {},
		headers: { "X-CSRFToken": csrfToken }, // Include the CSRF token in the headers
		success: function (data) {
			// load fucking comments again
			$('#comment-count-' + postId).text(data.comment_count);

			// Clear the input field after a successful comment submission
			$('#comment-text-' + postId).val('');

                // Update the comment section with the newly added comment
                var commentSection = $('#comment-section-' + postId);
				var newCommentHTML = `
<li class="comment-item">
	<div class="d-flex position-relative">
		<!-- Avatar -->
		<div class="avatar avatar-xs">
			<a href="#!">
				<img class="avatar-img rounded-circle" src="`+data.comment.imgurl+`" alt="">
			</a>
		</div>
		<div class="ms-2">
			<!-- Comment by -->
			<div class="bg-light rounded-start-top-0 p-3 rounded">
				<div class="d-flex justify-content-between">
					<h6 class="mb-1"> <a href="#!"> `+data.comment.first_name +data.comment.last_name+`</a></h6>
					{% comment %} <small class="ms-2">5hr</small> {% endcomment %}
				</div>
				<p class="small mb-0">`+data.comment.text+`</p>
			</div>
			<!-- Comment react -->
			<ul class="nav nav-divider py-2 small">
				<li class="nav-item">
					<a class="nav-link" href="#!"> Like (3)</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#!"> Reply</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#!"> View 5 replies</a>
				</li>
			</ul>
		</div>
	</div>
</li>
`;
				var newComment = '<div class="comment">' +
					'<strong>' + data.comment.username + '</strong>: ' +
					data.comment.text +
					'</div>';
				commentSection.prepend(newCommentHTML);
		}
	});
});
});
</script>

{% endblock content %}