{% extends 'theme/base.html' %}
{% load static %}
{% block content %}

<main>
  <!-- Container START -->
  <div class="container">
    <div class="row g-4">

      <!-- Main content START -->
      <div class="col-lg-8 vstack gap-4">
        <!-- My profile START -->
        <div class="card">
          <!-- Cover image -->
          <div class="h-200px rounded-top" style="background-image:url({{user.getCoverimageUrl}}); background-position: center; background-size: cover; background-repeat: no-repeat;"></div>
            <!-- Card body START -->
            <div class="card-body py-0">
              <div class="d-sm-flex align-items-start text-center text-sm-start">
                <div>
                  <!-- Avatar -->
                  <div class="avatar avatar-xxl mt-n5 mb-3">
                    <img class="avatar-img rounded-circle border border-white border-3" src="{{ user.getProfileimageUrl }}" alt="">
                  </div>
                </div>
                <div class="ms-sm-4 mt-sm-3">
                  <!-- Info -->
                  <h1 class="mb-0 h5">{{user.first_name}} {{user.last_name}} <i class="bi bi-patch-check-fill text-success small"></i></h1>
                  <p>250 connections</p>
                </div>
                <!-- Button -->
                <div class="d-flex mt-3 justify-content-center ms-sm-auto">
                  <button class="btn btn-danger-soft me-2" type="button"> <i class="bi bi-pencil-fill pe-1"></i> Edit profile </button>
                  
                  
                  
                  
                  
                {% if user != request.user %}
                    {% if user not in request.user.following.all %}
                        <a href="{% url 'follow_user' username=user.username %}">
                        <button class="btn btn-success-soft me-2" type="button"> <i class="bi bi-person-plus-fill pe-1"></i> Follow </button>
                      </a>
                        {% else %}
                        <a href="{% url 'unfollow_user' username=user.username %}">
                          <button class="btn btn-success-soft me-2" type="button"> <i class="bi bi-person-plus-fill pe-1"></i> Unfollow </button>
                    {% endif %}
                        </a>
                        
                {% endif %}

                  
                  
                  
                  
                  
                  <div class="dropdown">
                    <!-- Card share action menu -->
                    <button class="icon-md btn btn-light" type="button" id="profileAction2" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-three-dots"></i>
                    </button>
                    <!-- Card share action dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Share profile in a message</a></li>
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-file-earmark-pdf fa-fw pe-2"></i>Save your profile to PDF</a></li>
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-lock fa-fw pe-2"></i>Lock profile</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#"> <i class="bi bi-gear fa-fw pe-2"></i>Profile settings</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <!-- List profile -->
              <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
                <li class="list-inline-item"><i class="bi bi-briefcase me-1"></i> {{user.player.position}}</li>
                <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i> New Hampshire</li>
                <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i> Joined on Nov 26, 2019</li>
              </ul>
            </div>
            <!-- Card body END -->
            <div class="card-footer mt-3 pt-2 pb-0">
              <!-- Nav profile pages -->
              <ul class="nav nav-bottom-line align-items-center justify-content-center justify-content-md-start mb-0 border-0">
                <li class="nav-item"> <a class="nav-link active" href="my-profile.html"> Posts </a> </li>
              </ul>
            </div>
          </div>
          <!-- My profile END -->



          {% if user == request.user %}

          <!-- Share feed START -->
          <div class="card card-body">
            <div class="d-flex mb-3">
              <!-- Avatar -->
              <div class="avatar avatar-xs me-2">
                  <img class="avatar-img rounded-circle" src="{{ request.user.getProfileimageUrl }}" alt="">
              </div>
              <!-- Post input -->
              <form class="w-100" method="post" enctype="multipart/form-data">
    						{% csrf_token %}
							<textarea name="text" class="form-control pe-4 border-0" rows="2" data-autoresize placeholder="Share your thoughts..."></textarea>
							<input name="file" class="form-control" type="file" id="">
							<div class="d-grid gap-2 mt-3">
								<button class="btn btn-primary" type="submit">Post</button>
							</div>
						</form>
            </div>
          </div>
          <!-- Share feed END -->
          {% endif %}





				{% for post, duration, comments in posts reversed%}

				<!-- Card feed item START -->
				<div class="card">
					<!-- Card header START -->
					<div class="card-header border-0 pb-0">
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar avatar-story me-2">
									<a href="{% url 'profile' username=post.user.username %}">
										<img class="avatar-img rounded-circle" src="{% if post.user.profile_image %}{{post.user.profile_image.url}}{% else %}{% static 'assets/images/avatar/07.jpg' %}{% endif %}" alt="">
									</a>
								</div>
								<!-- Info -->
								<div>
									<div class="nav nav-divider">
										<h6 class="nav-item card-title mb-0"> <a href="{% url 'profile' username=post.user.username %}"> {{post.user.first_name}} {{post.user.last_name}} </a></h6>
										<span class="nav-item small"> {{duration}}</span>
									</div>
									<p class="mb-0 small">{{post.user.player.position}} at {{post.user.player.club}}</p>
								</div>
							</div>
							<!-- Card feed action dropdown START -->
							<div class="dropdown">
								<a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-three-dots"></i>
								</a>
								<!-- Card feed action dropdown menu -->
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">
									<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow lori ferguson </a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
								</ul>
							</div>
							<!-- Card feed action dropdown END -->
						</div>
					</div>
					<!-- Card header END -->
					<!-- Card body START -->
					<div class="card-body">
						<p>{{post.text}}</p>

						{% for media in post.media_set.all %}

						{% if post.media_set.all|length > 1 %}

						{% elif post.media_set.all|length == 1 %}
												
							{% if media.is_image %}
								<img class="card-img" src="{{ media.file.url }}" alt="Post">
							{% elif media.is_video %}
							<video controls>
								<source src="{{ media.file.url }}" type="video/mp4">
								Your browser does not support the video tag.
							</video>
							{% endif %}
						{% endif %}
						{% endfor %}



						
						
						
						<!-- Card img -->
						<!-- Feed react START -->
						<ul class="nav nav-stack py-3 small">
							<li class="nav-item">
								
								
								<a id="like-button-{{post.id}}" data-post-id="{{ post.id }}" class="like-button nav-link {% if post.id in liked_posts %}active{% endif %}" href="#!" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="tooltip-text-start" data-bs-title="Frances Guerrero<br> Lori Stevens<br> Billy Vasquez<br> Judy Nguyen<br> Larry Lawson<br> Amanda Reed<br> Louis Crawford"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i><span id="like-text-{{ post.id }}">{% if post.id in liked_posts %}Liked{% else %}Like{% endif %}</span> (<span id="like-count-{{ post.id }}">{{ post.likes.count }}</span>)</a>
							    <!-- Like Button Form -->
									{% comment %} <button type="submit" class="btn btn-primary">Like</button> {% endcomment %}

									{% comment %} <button type="button" class="btn btn-primary like-button" >Like</button> {% endcomment %}

								{% comment %} Likes: <span class="like-count-{{ post.id }}">{{ post.likes.count }}</span> {% endcomment %}
								{% comment %} <button class="like-button" data-post-id="{{ post.id }}">Like</button> {% endcomment %}
							
								
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments (0)</a>
							</li>

						</ul>
						<!-- Feed react END -->

						<!-- Add comment -->
						<div class="d-flex mb-3">
							<!-- Avatar -->
							<div class="avatar avatar-xs me-2">
								<a href="#!">
									<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/12.jpg' %}" alt="">
								</a>
							</div>
							<!-- Comment box  -->
							<form class="nav nav-item w-100 position-relative">
								<textarea id="comment-text-{{post.id}}" data-autoresize class="form-control pe-5 bg-light" rows="1" placeholder="Add a comment..."></textarea>
								<button id="comment-button-{{post.id}}" data-post-id="{{ post.id }}" class="comment-button nav-link bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0">
									<i class="bi bi-send-fill"> </i>
								</button>
							</form>
						</div>

												<!-- Comment wrap START -->
												<ul id="comment-section-{{post.id}}" class="comment-wrap list-unstyled">
													{% for comment in comments reversed %}
													<!-- Comment item START -->
													<li class="comment-item">
														<div class="d-flex position-relative">
															<!-- Avatar -->
															<div class="avatar avatar-xs">
																<a href="#!">
																	<img class="avatar-img rounded-circle" src="{{comment.user.getProfileimageUrl}}" alt="">
																</a>
															</div>
															<div class="ms-2">
																<!-- Comment by -->
																<div class="bg-light rounded-start-top-0 p-3 rounded">
																	<div class="d-flex justify-content-between">
																		<h6 class="mb-1"> <a href="#!"> {{comment.user.first_name}} {{comment.user.last_name}} </a></h6>
																		{% comment %} <small class="ms-2">5hr</small> {% endcomment %}
																	</div>
																	<p class="small mb-0">{{comment.text}}</p>
																</div>
																<!-- Comment react -->
																<ul class="nav nav-divider py-2 small">
																	<li class="nav-item">
																		<a class="nav-link" href="#!"> Like (3)</a>
																	</li>
																	<li class="nav-item">
																		<a class="nav-link" href="#!"> Reply</a>
																	</li>
																	<li class="nav-item">
																		<a class="nav-link" href="#!"> View 5 replies</a>
																	</li>
																</ul>
															</div>
														</div>
													</li>
													<!-- Comment item END -->
{% endfor %}

												</ul>
												<!-- Comment wrap END -->

					</div>
					<!-- Card body END -->
				</div>
				<!-- Card feed item END -->

				{% endfor %}








      </div>
      <!-- Main content END -->

      <!-- Right sidebar START -->
      <div class="col-lg-4">

        <div class="row g-4">

          <!-- Card START -->
          <div class="col-md-6 col-lg-12">
            <div class="card">
              <div class="card-header border-0 pb-0">
                <h5 class="card-title">About</h5>
                <!-- Button modal -->
              </div>
              <!-- Card body START -->
              <div class="card-body position-relative pt-0">
                {% comment %} <p>He moonlights difficult engrossed it, sportsmen. Interested has all Devonshire difficulty assistance joy.</p>
                <!-- Date time -->
                <ul class="list-unstyled mt-3 mb-0">
                  <li class="mb-2"> <i class="bi bi-calendar-date fa-fw pe-1"></i> Born: <strong> October 20, 1990 </strong> </li>
                  <li class="mb-2"> <i class="bi bi-heart fa-fw pe-1"></i> Status: <strong> Single </strong> </li>
                  <li> <i class="bi bi-envelope fa-fw pe-1"></i> Email: <strong> webestica@gmail.com </strong> </li>
                </ul> {% endcomment %}
              </div>
              <!-- Card body END -->
            </div>
          </div>
          <!-- Card END -->

          <!-- Card START -->
          <div class="col-md-6 col-lg-12">
            <div class="card">
              <!-- Card header START -->
              <div class="card-header d-flex justify-content-between border-0">
                <h5 class="card-title">Experience</h5>
                <a class="btn btn-primary-soft btn-sm" href="#!"> <i class="fa-solid fa-plus"></i> </a>
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body position-relative pt-0">
                {% comment %} <!-- Experience item START -->
                <div class="d-flex">
                  <!-- Avatar -->
                  <div class="avatar me-3">
                    <a href="#!"> <img class="avatar-img rounded-circle" src="assets/images/logo/08.svg" alt=""> </a>
                  </div>
                  <!-- Info -->
                  <div>
                    <h6 class="card-title mb-0"><a href="#!"> Apple Computer, Inc. </a></h6>
                    <p class="small">May 2015 – Present Employment Duration 8 mos <a class="btn btn-primary-soft btn-xs ms-2" href="#!">Edit </a></p>
                  </div>
                </div>
                <!-- Experience item END -->

                <!-- Experience item START -->
                <div class="d-flex">
                  <!-- Avatar -->
                  <div class="avatar me-3">
                    <a href="#!"> <img class="avatar-img rounded-circle" src="assets/images/logo/09.svg" alt=""> </a>
                  </div>
                  <!-- Info -->
                  <div>
                    <h6 class="card-title mb-0"><a href="#!"> Microsoft Corporation </a></h6>
                    <p class="small">May 2017 – Present Employment Duration 1 yrs 5 mos <a class="btn btn-primary-soft btn-xs ms-2" href="#!">Edit </a></p>
                  </div>
                </div>
                <!-- Experience item END -->

                <!-- Experience item START -->
                <div class="d-flex">
                  <!-- Avatar -->
                  <div class="avatar me-3">
                    <a href="#!"> <img class="avatar-img rounded-circle" src="assets/images/logo/10.svg" alt=""> </a>
                  </div>
                  <!-- Info -->
                  <div>
                    <h6 class="card-title mb-0"><a href="#!"> Tata Consultancy Services. </a></h6>
                    <p class="small mb-0">May 2022 – Present Employment Duration 6 yrs 10 mos <a class="btn btn-primary-soft btn-xs ms-2" href="#!">Edit </a></p>
                  </div>
                </div>
                <!-- Experience item END -->

              </div> {% endcomment %}
              <!-- Card body END -->
            </div>
          </div>
          <!-- Card END -->
          
          <!-- Card START -->
          <div class="col-md-6 col-lg-12">
            <div class="card">
              <!-- Card header START -->
              <div class="card-header d-sm-flex justify-content-between border-0">
                <h5 class="card-title">Photos</h5>
                <a class="btn btn-primary-soft btn-sm" href="#!"> See all photo</a>
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body position-relative pt-0">
                {% comment %} <div class="row g-2">
                  <!-- Photos item -->
                  <div class="col-6">
                    <a href="assets/images/albums/01.jpg" data-gallery="image-popup" data-glightbox="">
                      <img class="rounded img-fluid" src="assets/images/albums/01.jpg" alt="">
                    </a>
                  </div>
                  <!-- Photos item -->
                  <div class="col-6">
                    <a href="assets/images/albums/02.jpg" data-gallery="image-popup" data-glightbox="">
                      <img class="rounded img-fluid" src="assets/images/albums/02.jpg" alt="">
                    </a>
                  </div>
                  <!-- Photos item -->
                  <div class="col-4">
                    <a href="assets/images/albums/03.jpg" data-gallery="image-popup" data-glightbox="">
                      <img class="rounded img-fluid" src="assets/images/albums/03.jpg" alt="">
                    </a>
                  </div>
                  <!-- Photos item -->
                  <div class="col-4">
                    <a href="assets/images/albums/04.jpg" data-gallery="image-popup" data-glightbox="">
                      <img class="rounded img-fluid" src="assets/images/albums/04.jpg" alt="">
                    </a>
                  </div>
                  <!-- Photos item -->
                  <div class="col-4">
                    <a href="assets/images/albums/05.jpg" data-gallery="image-popup" data-glightbox="">
                      <img class="rounded img-fluid" src="assets/images/albums/05.jpg" alt="">
                    </a>
                    <!-- glightbox Albums left bar END  -->
                  </div>
                </div> {% endcomment %}
              </div>
              <!-- Card body END -->
            </div>
          </div>
          <!-- Card END -->

          <!-- Card START -->
          <div class="col-md-6 col-lg-12">
            <div class="card">
              <!-- Card header START -->
              <div class="card-header d-sm-flex justify-content-between align-items-center border-0">
                <h5 class="card-title">Following <span class="badge bg-danger bg-opacity-10 text-danger">{{user.following.all.count}}</span></h5>
                <a class="btn btn-primary-soft btn-sm" href="#!"> See all following</a>
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body position-relative pt-0">
                <div class="row g-3">



                  {% for user in user.followers.all %}
                  <div class="col-6">
                    <!-- Friends item START -->
                    <div class="card shadow-none text-center h-100">
                      <!-- Card body -->
                      <div class="card-body p-2 pb-0">
                        <div class="avatar avatar-story avatar-xl">
                          <a href="{% url 'profile' username=user.username %}"><img class="avatar-img rounded-circle" src="{{ user.getProfileimageUrl }}" alt=""></a>
                        </div>
                        <h6 class="card-title mb-1 mt-3"> <a href="{% url 'profile' username=user.username %}"> {{user.first_name}} {{user.last_name}} </a></h6>
                        <p class="mb-0 small lh-sm">{{user.player.position}} at {{user.player.club}} </p>
                      </div>
                      <!-- Card footer -->
                      <div class="card-footer p-2 border-0">
                        {% comment %} <button class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Send message"> <i class="bi bi-chat-left-text"></i> </button> {% endcomment %}
                        {% comment %} <button class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove friend"> <i class="bi bi-person-x"></i> </button> {% endcomment %}
                      </div>
                    </div>
                    <!-- Friends item END -->
                  </div>
                  {% endfor %}


                </div>
              </div>
              <!-- Card body END -->
            </div>
          </div>
          <!-- Card END -->
        </div>

      </div>
      <!-- Right sidebar END -->

    </div> <!-- Row END -->
  </div>
  <!-- Container END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- Modal create Feed START -->
<div class="modal fade" id="modalCreateFeed" tabindex="-1" aria-labelledby="modalLabelCreateFeed" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelCreateFeed">Create post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
         <!-- Add Feed -->
         <div class="d-flex mb-3">
          <!-- Avatar -->
          <div class="avatar avatar-xs me-2">
            <img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="">
          </div>
          <!-- Feed box  -->
          <form class="w-100">
            <textarea class="form-control pe-4 fs-3 lh-1 border-0" rows="4" placeholder="Share your thoughts..." autofocus></textarea>
          </form>
        </div>
        <!-- Feed rect START -->
        <div class="hstack gap-2">
          <a class="icon-md bg-success bg-opacity-10 text-success rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Photo"> <i class="bi bi-image-fill"></i> </a>
          <a class="icon-md bg-info bg-opacity-10 text-info rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Video"> <i class="bi bi-camera-reels-fill"></i> </a>
          <a class="icon-md bg-danger bg-opacity-10 text-danger rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Events"> <i class="bi bi-calendar2-event-fill"></i> </a>
          <a class="icon-md bg-warning bg-opacity-10 text-warning rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Feeling/Activity"> <i class="bi bi-emoji-smile-fill"></i> </a>
          <a class="icon-md bg-light text-secondary rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Check in"> <i class="bi bi-geo-alt-fill"></i> </a>
          <a class="icon-md bg-primary bg-opacity-10 text-primary rounded-circle" href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Tag people on top"> <i class="bi bi-tag-fill"></i> </a>
        </div>
        <!-- Feed rect END -->
      </div>
      <!-- Modal feed body END -->
      
      <!-- Modal feed footer -->
      <div class="modal-footer row justify-content-between">
        <!-- Select -->
        <div class="col-lg-3">
          <select class="form-select js-choice" data-position="top" data-search-enabled="false">
            <option value="PB">Public</option>
            <option value="PV">Friends</option>
            <option value="PV">Only me</option>
            <option value="PV">Custom</option>
          </select>
        </div>
        <!-- Button -->
        <div class="col-lg-8 text-sm-end">
          <button type="button" class="btn btn-danger-soft me-2"> <i class="bi bi-camera-video-fill pe-1"></i> Live video</button>
          <button type="button" class="btn btn-success-soft">Post</button>
        </div>
      </div>
      <!-- Modal feed footer -->

    </div>
  </div>
</div>
<!-- Modal create feed END -->

<!-- Modal create Feed photo START -->
<div class="modal fade" id="feedActionPhoto" tabindex="-1" aria-labelledby="feedActionPhotoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="feedActionPhotoLabel">Add post photo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal feed header END -->

        <!-- Modal feed body START -->
        <div class="modal-body">
        <!-- Add Feed -->
        <div class="d-flex mb-3">
          <!-- Avatar -->
          <div class="avatar avatar-xs me-2">
            <img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="">
          </div>
          <!-- Feed box  -->
          <form class="w-100">
            <textarea class="form-control pe-4 fs-3 lh-1 border-0" rows="2" placeholder="Share your thoughts..."></textarea>
          </form>
        </div>

        <!-- Dropzone photo START -->
        <div>
          <label class="form-label">Upload attachment</label>
          <div class="dropzone dropzone-default card shadow-none" data-dropzone='{"maxFiles":2}'>
            <div class="dz-message">
              <i class="bi bi-images display-3"></i>
              <p>Drag here or click to upload photo.</p>
            </div>
          </div>
        </div>
        <!-- Dropzone photo END -->

        </div>
        <!-- Modal feed body END -->

        <!-- Modal feed footer -->
        <div class="modal-footer ">
          <!-- Button -->
            <button type="button" class="btn btn-danger-soft me-2" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-success-soft">Post</button>
        </div>
        <!-- Modal feed footer -->
    </div>
  </div>
</div>
<!-- Modal create Feed photo END -->

<!-- Modal create Feed video START -->
<div class="modal fade" id="feedActionVideo" tabindex="-1" aria-labelledby="feedActionVideoLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
     <!-- Modal feed header START -->
     <div class="modal-header">
      <h5 class="modal-title" id="feedActionVideoLabel">Add post video</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <!-- Modal feed header END -->

      <!-- Modal feed body START -->
      <div class="modal-body">
       <!-- Add Feed -->
       <div class="d-flex mb-3">
        <!-- Avatar -->
        <div class="avatar avatar-xs me-2">
          <img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="">
        </div>
        <!-- Feed box  -->
        <form class="w-100">
          <textarea class="form-control pe-4 fs-3 lh-1 border-0" rows="2" placeholder="Share your thoughts..."></textarea>
        </form>
      </div>

      <!-- Dropzone photo START -->
      <div>
        <label class="form-label">Upload attachment</label>
        <div class="dropzone dropzone-default card shadow-none" data-dropzone='{"maxFiles":2}'>
          <div class="dz-message">
            <i class="bi bi-camera-reels display-3"></i>
                <p>Drag here or click to upload video.</p>
          </div>
        </div>
      </div>
      <!-- Dropzone photo END -->

    </div>
      <!-- Modal feed body END -->

      <!-- Modal feed footer -->
      <div class="modal-footer">
        <!-- Button -->
        <button type="button" class="btn btn-danger-soft me-2"><i class="bi bi-camera-video-fill pe-1"></i> Live video</button>
        <button type="button" class="btn btn-success-soft">Post</button>
      </div>
      <!-- Modal feed footer -->
    </div>
  </div>
</div>
<!-- Modal create Feed video END -->

<!-- Modal create events START -->
<div class="modal fade" id="modalCreateEvents" tabindex="-1" aria-labelledby="modalLabelCreateAlbum" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal feed header START -->
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabelCreateAlbum">Create event</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal feed header END -->
      <!-- Modal feed body START -->
      <div class="modal-body">
        <!-- Form START -->
        <form class="row g-4">
          <!-- Title -->
          <div class="col-12">
            <label class="form-label">Title</label>
            <input type="email" class="form-control" placeholder="Event name here">
          </div>
          <!-- Description -->
          <div class="col-12">
            <label class="form-label">Description</label>
            <textarea class="form-control" rows="2" placeholder="Ex: topics, schedule, etc."></textarea>
          </div>
          <!-- Date -->
          <div class="col-sm-4">
            <label class="form-label">Date</label>
            <input type="text" class="form-control flatpickr" placeholder="Select date">
          </div>
          <!-- Time -->
          <div class="col-sm-4">
            <label class="form-label">Time</label>
            <input type="text" class="form-control flatpickr" data-enableTime="true" data-noCalendar="true" placeholder="Select time">
          </div>
          <!-- Duration -->
          <div class="col-sm-4">
            <label class="form-label">Duration</label>
            <input type="email" class="form-control" placeholder="1hr 23m">
          </div>
          <!-- Location -->
          <div class="col-12">
            <label class="form-label">Location</label>
            <input type="email" class="form-control" placeholder="Logansport, IN 46947">
          </div>
          <!-- Add guests -->
          <div class="col-12">
            <label class="form-label">Add guests</label>
            <input type="email" class="form-control" placeholder="Guest email">
          </div>
          <!-- Avatar group START -->
          <div class="col-12 mt-3">
            <ul class="avatar-group list-unstyled align-items-center mb-0">
              <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/01.jpg" alt="avatar">
              </li>
              <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="avatar">
              </li>
              <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/03.jpg" alt="avatar">
              </li>
              <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/04.jpg" alt="avatar">
              </li>
              <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
              </li>
              <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/06.jpg" alt="avatar">
              </li>
              <li class="avatar avatar-xs">
                <img class="avatar-img rounded-circle" src="assets/images/avatar/07.jpg" alt="avatar">
              </li>
              <li class="ms-3">
                <small> +50 </small>
              </li>
            </ul>
          </div>
          <!-- Upload Photos or Videos -->
          <!-- Dropzone photo START -->
          <div>
            <label class="form-label">Upload attachment</label>
            <div class="dropzone dropzone-default card shadow-none" data-dropzone='{"maxFiles":2}'>
              <div class="dz-message">
                <i class="bi bi-file-earmark-text display-3"></i>
                <p>Drop presentation and document here or click to upload.</p>
              </div>
            </div>
          </div>
          <!-- Dropzone photo END -->
        </form>
        <!-- Form END -->
      </div>
      <!-- Modal feed body END -->
      <!-- Modal footer -->
      <!-- Button -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger-soft me-2" data-bs-dismiss="modal"> Cancel</button>
        <button type="button" class="btn btn-success-soft">Create now</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal create events END -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
$(document).ready(function () {
   var csrfToken = $('input[name=csrfmiddlewaretoken]').val(); // Get the CSRF token

   $('.like-button').click(function () {
	   var postId = $(this).data('post-id');
	   console.log(postId)

	   $.ajax({
		   type: 'POST',
		   url: '/like_post/' + postId + '/',
		   data: {},
		   headers: { "X-CSRFToken": csrfToken }, // Include the CSRF token in the headers
		   success: function (data) {

			   if(data.remove == true){
				$('#like-text-' + postId).text('Like');
				$('#like-button-' + postId).removeClass('active');
				$('#like-count-' + postId).text(data.likes_count);

			   }
			   else{
			   // Update the like count for the specific post
			   $('#like-count-' + postId).text(data.likes_count);
			   $('#like-text-' + postId).text('Liked');
			   $('#like-button-' + postId).addClass('active');
			   }
			   console.log(data)
		   }
	   });
   });





   $('.comment-button').click(function () {
	var postId = $(this).data('post-id');
	console.log(postId)
	var comment_value = $('#comment-text-'+postId).val()
	console.log('comment_value')
	console.log(comment_value)
	$.ajax({
		type: 'POST',
		url: '/comment_post/' + postId + '/' + comment_value + '/',
		data: {},
		headers: { "X-CSRFToken": csrfToken }, // Include the CSRF token in the headers
		success: function (data) {
			// load fucking comments again
			$('#comment-count-' + postId).text(data.comment_count);

			// Clear the input field after a successful comment submission
			$('#comment-text-' + postId).val('');

                // Update the comment section with the newly added comment
                var commentSection = $('#comment-section-' + postId);
				var newCommentHTML = `
<li class="comment-item">
	<div class="d-flex position-relative">
		<!-- Avatar -->
		<div class="avatar avatar-xs">
			<a href="#!">
				<img class="avatar-img rounded-circle" src="`+data.comment.imgurl+`" alt="">
			</a>
		</div>
		<div class="ms-2">
			<!-- Comment by -->
			<div class="bg-light rounded-start-top-0 p-3 rounded">
				<div class="d-flex justify-content-between">
					<h6 class="mb-1"> <a href="#!"> `+data.comment.first_name +data.comment.last_name+`</a></h6>
					{% comment %} <small class="ms-2">5hr</small> {% endcomment %}
				</div>
				<p class="small mb-0">`+data.comment.text+`</p>
			</div>
			<!-- Comment react -->
			<ul class="nav nav-divider py-2 small">
				<li class="nav-item">
					<a class="nav-link" href="#!"> Like (3)</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#!"> Reply</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#!"> View 5 replies</a>
				</li>
			</ul>
		</div>
	</div>
</li>
`;
				var newComment = '<div class="comment">' +
					'<strong>' + data.comment.username + '</strong>: ' +
					data.comment.text +
					'</div>';
				commentSection.prepend(newCommentHTML);
		}
	});
});
});
</script>
{% endblock content %}
