
{% load static %}


				<!-- Card feed item START -->
				<div class="card">
					<!-- Card header START -->
					<div class="card-header border-0 pb-0">
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar avatar-story me-2">
									<a href="#!">
										<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/04.jpg' %}" alt="">
									</a>
								</div>
								<!-- Info -->
								<div>
									<div class="nav nav-divider">
										<h6 class="nav-item card-title mb-0"> <a href="#!"> Lori Ferguson </a></h6>
										<span class="nav-item small"> 2hr</span>
									</div>
									<p class="mb-0 small">Web Developer at Webestica</p>
								</div>
							</div>
							<!-- Card feed action dropdown START -->
							<div class="dropdown">
								<a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardFeedAction" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-three-dots"></i>
								</a>
								<!-- Card feed action dropdown menu -->
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardFeedAction">
									<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow lori ferguson </a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
								</ul>
							</div>
							<!-- Card feed action dropdown END -->
						</div>
					</div>
					<!-- Card header END -->
					<!-- Card body START -->
					<div class="card-body">
						<p>I'm thrilled to share that I've completed a graduate certificate course in project management with the president's honor roll.</p>
						<!-- Card img -->
						<img class="card-img" src="{% static 'assets/images/post/3by2/01.jpg' %}" alt="Post">
						<!-- Feed react START -->
						<ul class="nav nav-stack py-3 small">
							<li class="nav-item">
								<a class="nav-link active" href="#!" data-bs-container="body" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" data-bs-custom-class="tooltip-text-start" data-bs-title="Frances Guerrero<br> Lori Stevens<br> Billy Vasquez<br> Judy Nguyen<br> Larry Lawson<br> Amanda Reed<br> Louis Crawford"> <i class="bi bi-hand-thumbs-up-fill pe-1"></i>Liked (56)</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments (12)</a>
							</li>
							<!-- Card share action START -->
							<li class="nav-item dropdown ms-sm-auto">
								<a class="nav-link mb-0" href="#" id="cardShareAction" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
								</a>
								<!-- Card share action dropdown menu -->
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction">
									<li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
								</ul>
							</li>
							<!-- Card share action END -->
						</ul>
						<!-- Feed react END -->

						<!-- Add comment -->
						<div class="d-flex mb-3">
							<!-- Avatar -->
							<div class="avatar avatar-xs me-2">
								<a href="#!">
									<img class="avatar-img rounded-circle" src="{{ request.user.getProfileimageUrl }}" alt="">
								</a>
							</div>
							<!-- Comment box  -->
							<form class="nav nav-item w-100 position-relative">
								<textarea data-autoresize class="form-control pe-5 bg-light" rows="1" placeholder="Add a comment..."></textarea>
								<button class="nav-link bg-transparent px-3 position-absolute top-50 end-0 translate-middle-y border-0" type="submit">
									<i class="bi bi-send-fill"> </i>
								</button>
							</form>
						</div>
						<!-- Comment wrap START -->
						<ul class="comment-wrap list-unstyled">
							<!-- Comment item START -->
							<li class="comment-item">
								<div class="d-flex position-relative">
									<!-- Avatar -->
									<div class="avatar avatar-xs">
										<a href="#!">
											<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/05.jpg' %}" alt="">
										</a>
									</div>
									<div class="ms-2">
										<!-- Comment by -->
										<div class="bg-light rounded-start-top-0 p-3 rounded">
											<div class="d-flex justify-content-between">
												<h6 class="mb-1"> <a href="#!"> Frances Guerrero </a></h6>
												<small class="ms-2">5hr</small>
											</div>
											<p class="small mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection.</p>
										</div>
										<!-- Comment react -->
										<ul class="nav nav-divider py-2 small">
											<li class="nav-item">
												<a class="nav-link" href="#!"> Like (3)</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!"> Reply</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!"> View 5 replies</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- Comment item nested START -->
								<ul class="comment-item-nested list-unstyled">
									<!-- Comment item START -->
									<li class="comment-item">
										<div class="d-flex">
											<!-- Avatar -->
											<div class="avatar avatar-xs">
												<a href="#!">
													<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/06.jpg' %}" alt="">
												</a>
											</div>
											<!-- Comment by -->
											<div class="ms-2">
												<div class="bg-light p-3 rounded">
													<div class="d-flex justify-content-between">
														<h6 class="mb-1"> <a href="#!"> Lori Stevens </a> </h6>
														<small class="ms-2">2hr</small>
													</div>
													<p class="small mb-0">See resolved goodness felicity shy civility domestic had but Drawings offended yet answered Jennings perceive.</p>
												</div>
												<!-- Comment react -->
												<ul class="nav nav-divider py-2 small">
													<li class="nav-item">
														<a class="nav-link" href="#!"> Like (5)</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="#!"> Reply</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<!-- Comment item END -->
									<!-- Comment item START -->
									<li class="comment-item">
										<div class="d-flex">
											<!-- Avatar -->
											<div class="avatar avatar-story avatar-xs">
												<a href="#!">
													<img class="avatar-img rounded-circle" src="{{ request.user.getProfileimageUrl }}" alt="">
												</a>
											</div>
											<!-- Comment by -->
											<div class="ms-2">
												<div class="bg-light p-3 rounded">
													<div class="d-flex justify-content-between">
														<h6 class="mb-1"> <a href="#!"> Billy Vasquez </a> </h6>
														<small class="ms-2">15min</small>
													</div>
													<p class="small mb-0">Wishing calling is warrant settled was lucky.</p>
												</div>
												<!-- Comment react -->
												<ul class="nav nav-divider py-2 small">
													<li class="nav-item">
														<a class="nav-link" href="#!"> Like</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="#!"> Reply</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<!-- Comment item END -->
								</ul>
								<!-- Load more replies -->
								<a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5" data-bs-toggle="button" aria-pressed="true">
									<div class="spinner-dots me-2">
										<span class="spinner-dot"></span>
										<span class="spinner-dot"></span>
										<span class="spinner-dot"></span>
									</div>
									Load more replies 
								</a>
								<!-- Comment item nested END -->
							</li>
							<!-- Comment item END -->
							<!-- Comment item START -->
							<li class="comment-item">
								<div class="d-flex">
									<!-- Avatar -->
									<div class="avatar avatar-xs">
										<a href="#!">
											<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/05.jpg' %}" alt="">
										</a>
									</div>
									<!-- Comment by -->
									<div class="ms-2">
										<div class="bg-light p-3 rounded">
											<div class="d-flex justify-content-between">
												<h6 class="mb-1"> <a href="#!"> Frances Guerrero </a> </h6>
												<small class="ms-2">4min</small>
											</div>
											<p class="small mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection.</p>
										</div>
										<!-- Comment react -->
										<ul class="nav nav-divider pt-2 small">
											<li class="nav-item">
												<a class="nav-link" href="#!"> Like (1)</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!"> Reply</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!"> View 6 replies</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<!-- Comment item END -->
						</ul>
						<!-- Comment wrap END -->
					</div>
					<!-- Card body END -->
					<!-- Card footer START -->
					<div class="card-footer border-0 pt-0">
						<!-- Load more comments -->
						<a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center" data-bs-toggle="button" aria-pressed="true">
							<div class="spinner-dots me-2">
								<span class="spinner-dot"></span>
								<span class="spinner-dot"></span>
								<span class="spinner-dot"></span>
							</div>
							Load more comments 
						</a>
					</div>
					<!-- Card footer END -->
				</div>
				<!-- Card feed item END -->

				<!-- Card feed item START -->
				<div class="card">
					<!-- Card header START -->
					<div class="card-header">
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-2">
									<a href="#!">
										<img class="avatar-img rounded-circle" src="{% static 'assets/images/logo/12.svg' %}" alt="">
									</a>
								</div>
								<!-- Info -->
								<div>
									<h6 class="card-title mb-0"><a href="#!"> Bootstrap: Front-end framework </a></h6>
									<a href="#!" class="mb-0 text-body">Sponsored <i class="bi bi-info-circle ps-1" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="You're seeing this ad because your activity meets the intended audience of our site."></i> </a>
								</div>
							</div>
							<!-- Card share action START -->
							<div class="dropdown">
								<a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardShareAction2" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-three-dots"></i>
								</a>
								<!-- Card share action dropdown menu -->
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction2">
									<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow lori ferguson </a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
								</ul>
							</div>
							<!-- Card share action START -->
						</div>
					</div>
					<!-- Card header START -->
					
					<!-- Card body START -->
					<div class="card-body">
						<p class="mb-0">Quickly design and customize responsive mobile-first sites with Bootstrap.</p>
					</div>
					<img src="{% static 'assets/images/post/3by2/02.jpg' %}" alt="">
					<!-- Card body END -->
					<!-- Card footer START -->
					<div class="card-footer border-0 d-flex justify-content-between align-items-center">
						<p class="mb-0">Currently v5.1.3 </p>
						<a class="btn btn-primary-soft btn-sm" href="#"> Download now </a>
					</div>
					<!-- Card footer END -->

				</div>
				<!-- Card feed item END -->

				{% comment %} <!-- Story START -->
				<div>
					<h6 class="mb-3">Suggested stories </h6>
					<div class="tiny-slider arrow-hover overflow-hidden">
						<div class="tiny-slider-inner ms-n4" data-arrow="true" data-dots="true" data-loop="false" data-autoplay="false" data-items-xl="4" data-items-lg="3" data-items-md="3" data-items-sm="3" data-items-xs="2" data-gutter="12" data-edge="24">

							<!-- Slider items -->
							<div>
								<!-- Card START -->
								<div class="card card-overlay-bottom border-0 position-relative h-150px" style="background-image:url('{% static 'assets/images/post/1by1/02.jpg' %}'); background-position: center left; background-size: cover;">
									<div class="card-img-overlay d-flex align-items-center p-2">
										<div class="w-100 mt-auto">
											<!-- Name -->
											<a href="#!" class="stretched-link text-white small">Judy Nguyen</a>
										</div>
									</div>
								</div>
								<!-- Card END -->
							</div>

							<!-- Slider items -->
							<div>
								<!-- Card START -->
								<div class="card card-overlay-bottom border-0 position-relative h-150px" style="background-image:url({% static 'assets/images/post/1by1/03.jpg' %}); background-position: center left; background-size: cover;">
									<div class="card-img-overlay d-flex align-items-center p-2">
										<div class="w-100 mt-auto">
											<!-- Name -->
											<a href="#!" class="stretched-link text-white small">Samuel Bishop</a>
										</div>
									</div>
								</div>
								<!-- Card END -->
							</div>

							<!-- Slider items -->
							<div>
								<!-- Card START -->
								<div class="card card-overlay-bottom border-0 position-relative h-150px" style="background-image:url(assets/images/post/1by1/04.jpg); background-position: center left; background-size: cover;">
									<div class="card-img-overlay d-flex align-items-center p-2">
										<div class="w-100 mt-auto">
											<!-- Name -->
											<a href="#!" class="stretched-link text-white small">Carolyn Ortiz</a>
										</div>
									</div>
								</div>
								<!-- Card END -->
							</div>

							<!-- Slider items -->
							<div>
								<!-- Card START -->
								<div class="card card-overlay-bottom border-0 position-relative h-150px" style="background-image:url(assets/images/post/1by1/05.jpg); background-position: center left; background-size: cover;">
									<div class="card-img-overlay d-flex align-items-center p-2">
										<div class="w-100 mt-auto">
											<!-- Name -->
											<a href="#!" class="stretched-link text-white small">Amanda Reed</a>
										</div>
									</div>
								</div>
								<!-- Card END -->
							</div>

							<!-- Slider items -->
							<div>
								<!-- Card START -->
								<div class="card card-overlay-bottom border-0 position-relative h-150px" style="background-image:url({% static 'assets/images/post/3by2/01.jpg' %}); background-position: center left; background-size: cover;">
									<div class="card-img-overlay d-flex align-items-center p-2">
										<div class="w-100 mt-auto">
											<!-- Name -->
											<a href="#!" class="stretched-link text-white small">Lori Stevens</a>
										</div>
									</div>
								</div>
								<!-- Card END -->
							</div>

							<!-- Slider items -->
							<div>
								<!-- Card START -->
								<div class="card card-overlay-bottom border-0 position-relative h-150px" style="background-image:url(assets/images/post/1by1/06.jpg); background-position: center left; background-size: cover;">
									<div class="card-img-overlay d-flex align-items-center p-2">
										<div class="w-100 mt-auto">
											<!-- Name -->
											<a href="#!" class="stretched-link text-white small">Joan Wallace</a>
										</div>
									</div>
								</div>
								<!-- Card END -->
							</div>
						</div>
					</div>
				</div>
				<!-- Story END --> {% endcomment %}

				<!-- Card feed item START -->
				<div class="card">
					<!-- Card header START -->
					<div class="card-header border-0 pb-0">
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-2">
									{% load static %}

									<a href="#"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/04.jpg' %}" alt=""></a>
								</div>
								<!-- Info -->
								<div>
									<h6 class="card-title mb-0"> <a href="#"> Judy Nguyen </a></h6>
										<div class="nav nav-divider">
											<p class="nav-item mb-0 small">Web Developer at Webestica</p>
											<span class="nav-item small" data-bs-toggle="tooltip" data-bs-placement="top" title="Public"> <i class="bi bi-globe"></i> </span>
										</div>
								</div>
							</div>
							<!-- Card share action START -->
							<div class="dropdown">
								<a href="#" class="text-secondary btn btn-secondary-soft-hover py-1 px-2" id="cardShareAction3" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-three-dots"></i>
								</a>
								<!-- Card share action dropdown menu -->
								<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction3">
									<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Save post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-person-x fa-fw pe-2"></i>Unfollow lori ferguson </a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-x-circle fa-fw pe-2"></i>Hide post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-slash-circle fa-fw pe-2"></i>Block</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-flag fa-fw pe-2"></i>Report post</a></li>
								</ul>
							</div>
							<!-- Card share action END -->
						</div>
					</div>
					<!-- Card header START -->
					<!-- Card body START -->
					<div class="card-body">
						<p>I'm so privileged to be involved in the <a href="#!">@bootstrap </a>hiring process! Interviewing with their team was fun and I hope this can be a valuable resource for folks! <a href="#!"> #inclusivebusiness</a> <a href="#!"> #internship</a> <a href="#!"> #hiring</a> <a href="#"> #apply </a></p>
						<!-- Card feed grid START -->
						<div class="d-flex justify-content-between">
							<div class="row g-3">
								<div class="col-6">
									<!-- Grid img -->
									<a class="h-100" href="{% static 'assets/images/post/1by1/03.jpg' %}" data-glightbox data-gallery="image-popup">
										<img class="rounded img-fluid" src="{% static 'assets/images/post/1by1/03.jpg' %}" alt="Image">
									</a>
								</div>
								<div class="col-6">
									<!-- Grid img -->
									<a href="{% static 'assets/images/post/3by2/01.jpg' %}" data-glightbox data-gallery="image-popup">
										{% load static %}

										<img class="rounded img-fluid" src="{% static 'assets/images/post/3by2/01.jpg' %}" alt="Image">
									</a>
									<!-- Grid img -->
									<div class="position-relative bg-dark mt-3 rounded">
										<div class="hover-actions-item position-absolute top-50 start-50 translate-middle z-index-9">
											<a class="btn btn-link text-white" href="#"> View all </a>
										</div>
										<a href="assets/images/post/3by2/02.jpg" data-glightbox data-gallery="image-popup">
											<img class="img-fluid opacity-50 rounded" src="assets/images/post/3by2/02.jpg" alt="">
										</a>
									</div>
								</div>
							</div>
						</div>
						<!-- Card feed grid END -->
						
						<!-- Feed react START -->
						<ul class="nav nav-stack py-3 small">
							<li class="nav-item">
								<a class="nav-link active text-secondary" href="#!"> <i class="bi bi-heart-fill me-1 icon-xs bg-danger text-white rounded-circle"></i> Louis, Billy and 126 others </a>
							</li>
							<li class="nav-item ms-sm-auto">
								<a class="nav-link" href="#!"> <i class="bi bi-chat-fill pe-1"></i>Comments (12)</a>
							</li>
						</ul>
						<!-- Feed react END -->

						<!-- Feed react START -->
						<ul class="nav nav-pills nav-pills-light nav-fill nav-stack small border-top border-bottom py-1 mb-3">
							<li class="nav-item">
								<a class="nav-link mb-0 active" href="#!"> <i class="bi bi-heart pe-1"></i>Liked (56)</a>
							</li>
							<!-- Card share action menu START -->
							<li class="nav-item dropdown">
								<a href="#" class="nav-link mb-0" id="cardShareAction4" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-reply-fill flip-horizontal ps-1"></i>Share (3)
								</a>
									<!-- Card share action dropdown menu -->
									<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cardShareAction4">
									<li><a class="dropdown-item" href="#"> <i class="bi bi-envelope fa-fw pe-2"></i>Send via Direct Message</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-bookmark-check fa-fw pe-2"></i>Bookmark </a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-link fa-fw pe-2"></i>Copy link to post</a></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-share fa-fw pe-2"></i>Share post via …</a></li>
									<li><hr class="dropdown-divider"></li>
									<li><a class="dropdown-item" href="#"> <i class="bi bi-pencil-square fa-fw pe-2"></i>Share to News Feed</a></li>
								</ul>
							</li>
							<!-- Card share action menu END -->
							<li class="nav-item">
								<a class="nav-link mb-0" href="#!"> <i class="bi bi-send-fill pe-1"></i>Send</a>
							</li>
						</ul>
						<!-- Feed react START -->
					
						<!-- Comment wrap START -->
						<ul class="comment-wrap list-unstyled">
							<!-- Comment item START -->
							<li class="comment-item">
								<div class="d-flex">
									<!-- Avatar -->
									<div class="avatar avatar-xs">
										{% load static %}

										<a href="#"> <img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/05.jpg' %}" alt=""> </a>
									</div>
									<div class="ms-2">
										<!-- Comment by -->
										<div class="bg-light rounded-start-top-0 p-3 rounded">
											<div class="d-flex justify-content-between">
												<h6 class="mb-1"> <a href="#!"> Frances Guerrero </a></h6>
												<small class="ms-2">5hr</small>
											</div>
											<p class="small mb-0">Removed demands expense account in outward tedious do. Particular way thoroughly unaffected projection.</p>
										</div>
										<!-- Comment rect -->
										<ul class="nav nav-divider py-2 small">
											<li class="nav-item">
												<a class="nav-link" href="#!"> Like (3)</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!"> Reply</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!"> View 5 replies</a>
											</li>
										</ul>
									</div>
								</div>
								<!-- Comment item nested START -->
								<ul class="comment-item-nested list-unstyled">
									<!-- Comment item START -->
									<li class="comment-item">
										<div class="d-flex">
											<!-- Avatar -->
											<div class="avatar avatar-xs">
												<a href="#!"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/06.jpg' %}" alt=""></a>
											</div>
											<!-- Comment by -->
											<div class="ms-2">
												<div class="bg-light p-3 rounded">
													<div class="d-flex justify-content-between">
														<h6 class="mb-1"> <a href="#!"> Lori Stevens </a> </h6>
														<small class="ms-2">2hr</small>
													</div>
													<p class="small mb-0">See resolved goodness felicity shy civility domestic had but Drawings offended yet answered Jennings perceive.</p>
												</div>
												<!-- Comment rect -->
												<ul class="nav nav-divider py-2 small">
													<li class="nav-item">
														<a class="nav-link" href="#!"> Like (5)</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="#!"> Reply</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
									<!-- Comment item END -->
									<!-- Comment item START -->
									<li class="comment-item">
										<div class="d-flex">
											<!-- Avatar -->
											<div class="avatar avatar-xs">
												<a href="#!"><img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/07.jpg' %}" alt=""></a>
											</div>
											<!-- Comment by -->
											<div class="ms-2">
												<div class="bg-light p-3 rounded">
													<div class="d-flex justify-content-between">
														<h6 class="mb-1"> <a href="#!"> Billy Vasquez </a> </h6>
														<small class="ms-2">15min</small>
													</div>
													<p class="small mb-0">Wishing calling is warrant settled was lucky.</p>
												</div>
												<!-- Comment rect -->
												<ul class="nav nav-divider py-2 small">
													<li class="nav-item">
														<a class="nav-link" href="#!"> Like</a>
													</li>
													<li class="nav-item">
														<a class="nav-link" href="#!"> Reply</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
								<!-- Load more replies -->
								<a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center mb-3 ms-5" data-bs-toggle="button" aria-pressed="true">
									<div class="spinner-dots me-2">
										<span class="spinner-dot"></span>
										<span class="spinner-dot"></span>
										<span class="spinner-dot"></span>
									</div>
									Load more replies 
								</a>
							</li>
							<!-- Comment item END -->
							<!-- Comment item START -->
							<li class="comment-item">
								<div class="d-flex">
									<!-- Avatar -->
									<div class="avatar avatar-xs">
										<img class="avatar-img rounded-circle" src="{% static 'assets/images/avatar/05.jpg' %}" alt="">
									</div>
									<!-- Comment by -->
									<div class="ms-2">
										<div class="bg-light p-3 rounded">
											<div class="d-flex justify-content-center">
												<h6 class="mb-1"> <a href="#!"> Frances Guerrero </a> </h6>
												<small class="ms-2">4min</small>
											</div>
											<p class="small mb-0">Congratulations:)</p>
											<div class="card p-2 border border-2 rounded mt-2 shadow-none">
												<img src="assets/images/elements/12.svg" alt="">
											</div>
										</div>
										<!-- Comment rect -->
										<ul class="nav nav-divider pt-2 small">
											<li class="nav-item">
												<a class="nav-link" href="#!"> Like (1)</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!"> Reply</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="#!"> View 6 replies</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<!-- Comment item END -->
						</ul>
						<!-- Comment wrap END -->
					</div>
					<!-- Card body END -->
					<!-- Card footer START -->
					<div class="card-footer border-0 pt-0">
						<!-- Load more comments -->
						<a href="#!" role="button" class="btn btn-link btn-link-loader btn-sm text-secondary d-flex align-items-center" data-bs-toggle="button" aria-pressed="true">
							<div class="spinner-dots me-2">
								<span class="spinner-dot"></span>
								<span class="spinner-dot"></span>
								<span class="spinner-dot"></span>
							</div>
							Load more comments 
						</a>
					</div>
					<!-- Card footer END -->
				</div>
				<!-- Card feed item END -->


