{% load custom_tags %}
            <!-- Card body START -->
            <div class="card-body py-0">
                <div class="d-sm-flex align-items-start text-center text-sm-start">
                  <div>
                    <!-- Avatar -->
                    <div class="avatar avatar-xxl mt-n5 mb-3">
                      <img class="avatar-img rounded-circle border border-white border-3" src="{{ user.getProfileimageUrl }}" alt="">
                    </div>
                  </div>
                  <div class="ms-sm-4 mt-sm-3">
                    <!-- Info -->
                    <h1 class="mb-0 h5">{{user.getFullName}} <i class="bi bi-patch-check-fill text-success small"></i></h1>
                    <p>250 connections</p>
                  </div>
                  <!-- Button -->
                  <div class="d-flex mt-3 justify-content-center ms-sm-auto">
                  {% if user == request.user %}

                    <button class="btn btn-danger-soft me-2" type="button"> <i class="bi bi-pencil-fill pe-1"></i> Edit profile </button>
                  {% else %}
                    
                      {% if user not in request.user.following.all %}
                          <a href="{% url 'follow_user' username=user.username %}">
                          <button class="btn btn-success-soft me-2" type="button"> <i class="bi bi-person-plus-fill pe-1"></i> Follow </button>
                        </a>
                          {% else %}
                          <a href="{% url 'unfollow_user' username=user.username %}">
                            <button class="btn btn-success-soft me-2" type="button"> <i class="bi bi-person-plus-fill pe-1"></i> Unfollow </button>
                          </a>
                      {% endif %}
                          {% if user|is_connected:request.user.id %}
                          {% endif %}
                      {% if connection_request_sent %}
                      {% comment %} connection_request_sent {% endcomment %}
                      <button class="btn btn-danger-soft me-2 delete-connection" data-connection-id="{{connection_request_sent_id}}" type="button"> <i class="bi bi-person-fill pe-1"></i> Cancel request </button>
                      {% endif %}

                      {% if connection_request_accepted %}
                      {% comment %} connection_request_accepted {% endcomment %}
                      <button class="btn btn-primary-soft me-2" data-connection-id="{{connection_request_received_id}}" type="button"> <i class="bi bi-person-fill pe-1"></i> Connected </button>

                      {% endif %}

                      {% if connection_request_received %}
                      {% comment %} connection_request_received {% endcomment %}
                      <button class="btn btn-danger-soft me-2 delete-connection" data-connection-id="{{connection_request_received_id}}" type="button"> <i class="bi bi-person-fill pe-1"></i> Cancel request </button>
                      
                      <button class="btn btn-primary-soft me-2 accept-connection" data-connection-id="{{connection_request_received_id}}" type="button"> <i class="bi bi-person-fill pe-1"></i> Accept </button>
                      {% endif %}

                      {% if not connection_request_sent and not connection_request_received and not connection_request_accepted %}
                      {% comment %} asdf   {% endcomment %}
                      <button id="sendConnectionBtn" data-username="{{user.username}}" class="btn btn-primary-soft me-2" type="button"> <i class="bi bi-person-plus-fill pe-1"></i> Connect </button>
                      {% endif %}

                  {% endif %}
  
                    
                    <div class="dropdown">
                      <!-- Card share action menu -->
                      <button class="icon-md btn btn-light" type="button" id="profileAction2" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                      </button>
                      <!-- Card share action dropdown menu -->
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileAction2">
                        {% if connection_request_accepted %}
                        <li><button class="dropdown-item text-danger delete-connection" data-connection-id="{{ connection_request_accepted_id }}" href="#"> <i class="bi bi-bookmark fa-fw pe-2"></i>Delete connection {{ connection_request_accepted_id }}</button></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"> <i class="bi bi-gear fa-fw pe-2"></i>Profile settings</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!-- List profile -->
                <ul class="list-inline mb-0 text-center text-sm-start mt-3 mt-sm-0">
                  <li class="list-inline-item"><i class="bi bi-person me-1"></i> {{user.player.position}}</li>
                  <li class="list-inline-item"><i class="bi bi-geo-alt me-1"></i> {{user.place}}</li>
                  {% comment %} <li class="list-inline-item"><i class="bi bi-calendar2-plus me-1"></i> Joined on Nov 26, 2019</li> {% endcomment %}
                </ul>
              </div>
              <!-- Card body END -->

              <script>
                // Attach a click event to the button
                $(document).ready(function() {
                    $("#sendConnectionBtn").click(function() {
                        // Get the username from the data attribute
                        var username = $(this).data("username");
            
                        // Make an AJAX POST request
                        $.ajax({
                            type: "POST",
                            url: `/send_connection/${username}/`,  // Replace with your actual URL
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',  // Include CSRF token if not using @csrf_exempt decorator
                                // Include any additional data you want to send
                            },
                            success: function(response) {
                                // Handle the success response
                                if (response.success) {
                                    location.reload();
                                    // You can update the button text or style here if needed
                                } else {
                                    alert('Failed to send connection request. ' + response.message);
                                }
                            },
                            error: function(error) {
                                console.log('Error:', error);
                            }
                        });
                    });
                });
            </script>
            