          <!-- Card START -->
          <div class="col-md-6 col-lg-12">
            <div class="card">
              <!-- Card header START -->
              <div class="card-header d-sm-flex justify-content-between align-items-center border-0">
                <h5 class="card-title">Following <span class="badge bg-danger bg-opacity-10 text-danger">{{user.following.all.count}}</span></h5>
                <a class="btn btn-primary-soft btn-sm" href="#!"> See all following</a>
              </div>
              <!-- Card header END -->
              <!-- Card body START -->
              <div class="card-body position-relative pt-0">
                <div class="row g-3">

                  {% for user in user.followers.all %}
                  <div class="col-6">
                    <!-- Friends item START -->
                    <div class="card shadow-none text-center h-100">
                      <!-- Card body -->
                      <div class="card-body p-2 pb-0">
                        <div class="avatar avatar-story avatar-xl">
                          <a href="{% url 'profile' username=user.username %}"><img class="avatar-img rounded-circle" src="{{ user.getProfileimageUrl }}" alt=""></a>
                        </div>
                        <h6 class="card-title mb-1 mt-3"> <a href="{% url 'profile' username=user.username %}"> {{user.getFullName}} </a></h6>
                        <p class="mb-0 small lh-sm">{{user.player.position}} at {{user.player.club}} </p>
                      </div>
                      <!-- Card footer -->
                      <div class="card-footer p-2 border-0">
                        {% comment %} <button class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Send message"> <i class="bi bi-chat-left-text"></i> </button> {% endcomment %}
                        {% comment %} <button class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove friend"> <i class="bi bi-person-x"></i> </button> {% endcomment %}
                      </div>
                    </div>
                    <!-- Friends item END -->
                  </div>
                  {% endfor %}

                </div>
              </div>
              <!-- Card body END -->
            </div>
          </div>
          <!-- Card END -->